<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <span class="navbar-brand" href="#">{{ settings.isPolisy ? 'Polisy' : 'Polyglot3' }}</span>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      data-target="#navbar"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse" [ngbCollapse]="!isCollapsed">
      <ul class="nav mr-auto">
        <li
          class="nav-item"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" [routerLink]="['/']" (click)="isCollapsed = !isCollapsed">Home</a>
        </li>
      </ul>

      <ul class="nav ml-auto">
        <li
          *ngIf="authService.loggedIn()"
          class="nav-item"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" [routerLink]="['/dashboard']" (click)="isCollapsed = !isCollapsed">
            {{ (settings.currentIsy | async)?.name }} Dashboard
          </a>
        </li>
        <li *ngIf="authService.loggedIn()" class="nav-item">
          <div ngbDropdown>
            <span class="nav-link text-light" id="nsMenu" ngbDropdownToggle>ISYs</span>
            <div ngbDropdownMenu aria-labelledby="nsMenu">
              <ng-container *ngIf="(sockets.getIsys | async)?.length > 0; else noIsy">
                <button
                  *ngFor="let isy of sockets.getIsys | async"
                  class="dropdown-item"
                  (click)="updateCurrentIsy(isy)"
                  [disabled]="isy.uuid === settings.currentIsy.value['uuid']"
                >
                  <fa-icon
                    [icon]="faCheck"
                    *ngIf="isy.uuid === settings.currentIsy.value['uuid']"
                  ></fa-icon>
                  {{ isy.name ? isy.name : 'ISY' }} - {{ isy.uuid }}
                </button>
              </ng-container>
              <ng-template #noIsy>
                <button class="dropdown-item" [disabled]="true">None</button>
              </ng-template>
              <li class="dropdown-divider"></li>
              <button class="dropdown-item" (click)="openAdd(addIsyModal)">Add New Isy</button>
              <ng-container *ngIf="(sockets.getIsys | async)?.length > 0">
                <button class="dropdown-item" (click)="openUpdate('updateIsyForm', updateIsyModal)">
                  Edit Current ISY
                </button>
                <button class="dropdown-item" (click)="open(removeIsyModal)">
                  Delete Current Isy
                </button>
              </ng-container>
              <li class="dropdown-divider"></li>
              <button class="dropdown-item" (click)="discoverIsys()">Auto Discover ISY's</button>
              <button class="dropdown-item" (click)="refreshIsys()">Refresh ISY's</button>
            </div>
          </div>
        </li>

        <li class="nav-item" *ngIf="authService.loggedIn()">
          <div ngbDropdown>
            <span class="nav-link text-light" id="nsMenu" ngbDropdownToggle>NodeServers</span>
            <div ngbDropdownMenu aria-labelledby="nsMenu">
              <!-- <button
                class="dropdown-item"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/addnode']"
                (click)="isCollapsed = !isCollapsed"
              >
                Add NodeServer
              </button>
              <li class="dropdown-divider"></li> -->
              <button
                class="dropdown-item"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/getns']"
                (click)="isCollapsed = !isCollapsed"
              >
                NodeServer Store
              </button>
            </div>
          </div>
        </li>

        <li class="nav-item" *ngIf="authService.loggedIn()">
          <div ngbDropdown>
            <span class="nav-link text-light" id="setMenu" ngbDropdownToggle>Settings</span>
            <div ngbDropdownMenu aria-labelledby="setMenu">
              <div *ngIf="settings.isPolisy">
                <button
                  class="dropdown-item"
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }"
                  [routerLink]="['/polisyconf']"
                  (click)="isCollapsed = !isCollapsed"
                >
                  Polisy Configuration
                </button>
                <li class="dropdown-divider"></li>
              </div>
              <button
                class="dropdown-item"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/settings']"
                (click)="isCollapsed = !isCollapsed"
              >
                Polyglot Settings
              </button>
              <!-- <li class="dropdown-divider"></li>
               <button
                class="dropdown-item"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/profile']"
                (click)="isCollapsed = !isCollapsed"
              >
                Profile
              </button> -->
            </div>
          </div>
        </li>

        <li class="nav-item" *ngIf="authService.loggedIn()">
          <div ngbDropdown>
            <span class="nav-link text-light" id="restartMenu" ngbDropdownToggle>System</span>
            <div ngbDropdownMenu aria-labelledby="restartMenu">
              <button class="dropdown-item" (click)="showRestartConfirm()">
                Restart {{ settings.isPolisy ? 'Polisy' : 'Polyglot3' }}
              </button>
              <li class="dropdown-divider"></li>
              <button class="dropdown-item" (click)="showConfirm()">Reboot ISY</button>
              <div *ngIf="settings.isPolisy">
                <li class="dropdown-divider"></li>
                <button class="dropdown-item" (click)="upgradecheck()">
                  Check for Polisy Updates
                </button>
                <li class="dropdown-divider"></li>
                <button class="dropdown-item" (click)="confirmSystem('upgrade')">
                  Update Polisy
                </button>
                <li class="dropdown-divider"></li>
                <button class="dropdown-item" (click)="confirmSystem('reboot')">
                  Reboot Polisy
                </button>
                <li class="dropdown-divider"></li>
                <button class="dropdown-item" (click)="confirmSystem('shutdown')">
                  Shutdown Polisy
                </button>
              </div>
            </div>
          </div>
        </li>

        <li
          class="nav-item"
          *ngIf="authService.loggedIn()"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" [routerLink]="['/log']" (click)="isCollapsed = !isCollapsed">Log</a>
        </li>

        <li
          class="nav-item"
          *ngIf="!authService.loggedIn()"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" [routerLink]="['/login']" (click)="isCollapsed = !isCollapsed"
            >Login</a
          >
        </li>

        <li class="nav-item" *ngIf="authService.loggedIn()">
          <a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!-- container -->
</nav>

<div *ngIf="authService.loggedIn()">
  <div *ngIf="!sockets.connected" class="alert alert-dismissible alert-danger text-center">
    <p>
      Not connected to server... Try refreshing the page. This will disappear once the connection is
      re-established.
    </p>
  </div>
</div>

<!-- UpdateISY Modal -->
<ng-template #updateIsyModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-white">Update ISY</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true"><fa-icon class="fa-1x" [icon]="faWindowClose"></fa-icon></span>
    </button>
  </div>
  <div class="modal-body text-white">
    <!-- Input Form -->
    <form [formGroup]="updateIsyForm" (ngSubmit)="updateIsy(getDirtyValues(updateIsyForm))">
      <!-- UUID -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">UUID</label>
        <div class="col-sm-10 d-flex align-items-center text-white">
          {{ settings.currentIsy.value['uuid'] }}
        </div>
      </div>
      <!-- Name -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" formControlName="name" />
        </div>
      </div>
      <!-- IP -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">IP</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" formControlName="ip" />
        </div>
      </div>
      <!-- Port -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Port</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" formControlName="port" />
        </div>
      </div>
      <!-- Username -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" formControlName="username" />
        </div>
      </div>
      <!-- Password -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" formControlName="password" />
        </div>
      </div>
      <!-- secure -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">HTTP/S</label>
        <div class="col-sm-10 btn-group btn-group-toggle" ngbRadioGroup formControlName="secure">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="0" />
            HTTP
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="1" />
            HTTPS
          </label>
        </div>
      </div>
      <!-- Buttons -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button ngbAutofocus type="button" class="btn btn-primary" (click)="modal.dismiss()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- addIsy Modal -->
<ng-template #addIsyModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-white">Add New ISY</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true"><fa-icon class="fa-1x" [icon]="faWindowClose"></fa-icon></span>
    </button>
  </div>
  <div class="modal-body text-white">
    All Fields required: <br />
    <!-- Input Form -->
    <form [formGroup]="addIsyForm" (ngSubmit)="addIsy(addIsyForm)">
      <!-- Name -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" formControlName="name" />
        </div>
      </div>
      <!-- IP -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">IP</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" formControlName="ip" />
        </div>
      </div>
      <!-- Port -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Port</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" formControlName="port" />
        </div>
      </div>
      <!-- Username -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" formControlName="username" />
        </div>
      </div>
      <!-- Password -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" formControlName="password" />
        </div>
      </div>
      <!-- secure -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">HTTP/S</label>
        <div class="col-sm-10 btn-group btn-group-toggle" ngbRadioGroup formControlName="secure">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="0" />
            HTTP
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="1" />
            HTTPS
          </label>
        </div>
      </div>
      <!-- Buttons -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Add</button>
        <button ngbAutofocus type="button" class="btn btn-primary" (click)="modal.dismiss()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- removeIsyModal Modal -->
<ng-template #removeIsyModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-white">Remove ISY</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true"><fa-icon class="fa-1x" [icon]="faWindowClose"></fa-icon></span>
    </button>
  </div>
  <div class="modal-body text-white">
    This will remove this ISY from the system and remove and delete all existing NodeServers from
    the ISY, the os, and the database.<br />
  </div>
  <!-- Buttons -->
  <div class="modal-footer">
    <button (click)="removeIsy()" class="btn btn-danger">DELETE</button>
    <button ngbAutofocus type="button" class="btn btn-primary" (click)="modal.dismiss()">
      Cancel
    </button>
  </div>
</ng-template>
