<ng-container *ngIf="settings.currentNs | async as selectedNodeServer">
  <h2>{{ selectedNodeServer.name }} Notices:</h2>
  <div
    *ngFor="let notice of selectedNodeServer.notices | keyvalue"
    class="alert alert-info alert-dismissible fade show"
  >
    <div class="d-inline" [innerHTML]="notice.value | safe: 'html'"></div>
    <button
      type="button"
      (click)="removeNotice(selectedNodeServer, notice.key)"
      class="d-inline close"
      aria-label="Close"
    >
      <span aria-hidden="true"><fa-icon class="fa-1x" [icon]="faWindowClose"></fa-icon></span>
    </button>
  </div>
</ng-container>
