<div *ngIf="nsdetails.currentlyEnabled === 'custom'">
  <div *ngIf="settings.currentNs | async as selectedNodeServer">
    <h2>Advanced Configuration</h2>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <td>Option</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr style="margin-bottom: 10px;">
          <td>shortPoll</td>
          <td>
            <input
              class="form-control input-sm"
              type="number"
              #short
              value="{{ selectedNodeServer.shortPoll }}"
            />
          </td>
          <td align="middle">
            <button
              class="btn btn-primary btn-xs"
              (click)="nsdetails.savePolls(short.value, long.value)"
            >
              Save
            </button>
          </td>
        </tr>
        <tr style="margin-bottom: 10px;">
          <td>longPoll</td>
          <td>
            <input
              class="form-control input-sm"
              type="number"
              #long
              value="{{ selectedNodeServer.longPoll }}"
            />
          </td>
          <td align="middle">
            <button
              class="btn btn-primary btn-xs"
              (click)="nsdetails.savePolls(short.value, long.value)"
            >
              Save
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <ng-container *ngIf="sockets.getCustom | async as custom">
      <ng-container *ngIf="custom | filter: 'key':'customparamsdoc' as customparamsdoc">
        <div align="center" *ngIf="customparamsdoc.length > 0">
          <button
            type="button"
            class="btn btn-primary btn-lg"
            (click)="helpCollapsed = !helpCollapsed"
            [attr.aria-expanded]="!helpCollapsed"
            aria-controls="configDocs"
          >
            Configuration Help
          </button>
          <div
            *ngFor="let doc of customparamsdoc"
            align="left"
            id="configDocs"
            [ngbCollapse]="helpCollapsed"
            class="card card-block card-header"
            [innerHTML]="doc.value"
          ></div>
        </div>
      </ng-container>
      <h2>Custom Configuration Parameters</h2>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <td>Key</td>
            <td>Value</td>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngFor="let item of nsdetails.customparamsForm.controls.customparams['controls']"
          >
            <tr [formGroup]="item" style="margin-bottom: 10px;">
              <td>
                <input class="form-control input-sm" type="text" formControlName="name" />
              </td>
              <td>
                <input class="form-control input-sm" type="text" formControlName="value" />
              </td>
              <td>
                <button class="btn btn-primary btn-xs" (click)="nsdetails.removeCustom(item.key)">
                  Delete
                </button>
              </td>
            </tr>
          </ng-container>
          <!-- <tr
            *ngFor="let key of nsdetails.typedParams; index as i"
            style="margin-bottom: 10px;"
            app-customparam
            [desc]="nsdetails.typedParams[i]"
            [(data)]="nsdetails.typedCustomData"
          ></tr> -->
        </tbody>
      </table>
      <div align="center" style="margin-bottom: 10px;">
        <!--button class="btn btn-primary btn-xs" (click)="nsdetails.sendCustom()" type="submit">Save Changes</button-->
        <button class="btn btn-primary btn-xs" (click)="saveChanges(custom)">Save Changes</button>
      </div>
    </ng-container>
    <div class="addCustom" align="center">
      <input #newkey id="newkey" placeholder="key" value="" style="width: 16%;" />
      <input #newvalue id="newvalue" placeholder="value" value="" style="width: 41%;" />
      <button class="btn btn-primary btn-xs" (click)="addCustom(newkey.value, newvalue.value)">
        Add Custom Parameter
      </button>
    </div>
  </div>
</div>
<br />
