<div *ngIf="nsdetails.currentlyEnabled === 'custom'">
  <div *ngIf="settings.currentNs | async as selectedNodeServer">
    <h2>Advanced Configuration</h2>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <td>Option</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr style="margin-bottom: 10px;">
          <td>shortPoll</td>
          <td>
            <input
              class="form-control input-sm"
              type="number"
              #short
              value="{{ selectedNodeServer.shortPoll }}"
            />
          </td>
        </tr>
        <tr style="margin-bottom: 10px;">
          <td>longPoll</td>
          <td>
            <input
              class="form-control input-sm"
              type="number"
              #long
              value="{{ selectedNodeServer.longPoll }}"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <div align="center" style="margin-bottom: 10px;">
      <button class="btn btn-primary btn-xs" (click)="nsdetails.savePolls(short.value, long.value)">
        Save
      </button>
    </div>
    <hr />
    <br />
    <ng-container *ngIf="sockets.getCustom | async as custom">
      <ng-container *ngIf="custom | filter: 'key':'customparamsdoc' as customparamsdoc">
        <div align="center" *ngIf="customparamsdoc.length > 0">
          <button
            type="button"
            class="btn btn-primary btn-lg"
            (click)="helpCollapsed = !helpCollapsed"
            [attr.aria-expanded]="!helpCollapsed"
            aria-controls="configDocs"
          >
            {{ helpCollapsed ? 'Expand' : 'Collapse' }} Configuration Help</button
          ><br /><br />
          <div
            *ngFor="let doc of customparamsdoc"
            align="left"
            id="configDocs"
            [ngbCollapse]="helpCollapsed"
            class="card card-block card-header"
            [innerHTML]="doc.value"
          ></div>
        </div>
      </ng-container>
      <hr />
      <br />
      <h2>Custom Configuration Parameters</h2>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th width="20%">Key</th>
            <th width="75%">Value</th>
            <th width="5%">Delete</th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngFor="
              let item of nsdetails.customparamsForm.controls.customparams['controls'];
              let i = index
            "
          >
            <tr [formGroup]="item" style="margin-bottom: 10px;">
              <td>
                <input class="form-control input-sm" type="text" formControlName="key" />
              </td>
              <td>
                <input class="form-control input-sm" type="text" formControlName="value" />
              </td>
              <td>
                <button
                  class="btn btn-primary btn-xs"
                  (click)="nsdetails.removeCustom('customparams', i)"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div align="center" style="margin-bottom: 10px;">
        <button class="btn btn-primary btn-xs" (click)="nsdetails.saveCustom()">
          Save Changes
        </button>
        <!--button class="btn btn-primary btn-xs" (click)="nsdetails.sendCustom()" type="submit">Save Changes</button-->
        <button class="btn btn-primary btn-xs" (click)="nsdetails.addCustom('customparams')">
          Add Custom Parameter
        </button>
        <!-- <button class="btn btn-primary btn-xs" (click)="nsdetails.addCustom('customtypedparams')">
          Add Custom Typed Parameter
        </button> -->
        <button class="btn btn-primary btn-xs" (click)="nsdetails.refreshCustom()">
          Refresh
        </button>
      </div>
      <hr />
      <br />
      <ng-container *ngIf="custom | filter: 'key':'customtypedparams'">
        <h2>Custom Typed Configuration Parameters</h2>
        <ng-container>
          <table class="table table-striped table-bordered table-hover">
            <tbody>
              <tr
                *ngFor="let key of nsdetails.typedParams; index as i"
                style="margin-bottom: 10px;"
                app-customparam
                [desc]="nsdetails.typedParams[i]"
                [(data)]="nsdetails.typedCustomData"
              ></tr>
            </tbody>
          </table>
        </ng-container>
      </ng-container>

      <div align="center" style="margin-bottom: 10px;">
        <button class="btn btn-primary btn-xs" (click)="nsdetails.saveCustom()">
          Save Changes
        </button>
        <button class="btn btn-primary btn-xs" (click)="nsdetails.refreshCustom()">
          Refresh
        </button>
      </div>
    </ng-container>
    <div class="addCustom" align="center"></div>
  </div>
</div>
<br />
